Repository samanthasgroup/django-webapps, pull requests merged in 2023-04, with the labels that each got.

#34 add rendering of core models for them to be more readable for owners
  api/models/erd.png
  api/models/erd_core.png
  api/models/generate_erd.sh
Labels: documentation, enhancement

#18 Fill in status and log event enums for groups, people; tweak `...LogEvent` models
  api/migrations/0001_initial.py
  api/models/__init__.py
  api/models/age_ranges.py
  api/models/base.py
  api/models/choices/README.md
  api/models/choices/__init__.py
  api/models/choices/age_range_type.py
  api/models/choices/communication_language_mode.py
  api/models/choices/log_event_types.py
  api/models/choices/registration_bot_language.py
  api/models/choices/statuses.py
  api/models/constants.py
  api/models/groups.py
  api/models/log_events.py
  api/models/people.py
  tests/conftest.py
Labels: enhancement, database_models

#40 Enrollment test API + minor model tweaks
  Makefile
  api/filters/__init__.py
  api/filters/enrollment_test.py
  api/migrations/0001_initial.py
  api/migrations/0002_data_migration.py
  api/models/__init__.py
  api/models/constants.py
  api/models/enrollment_tests.py
  api/models/erd.png
  api/models/erd_core.png
  api/models/generate_erd.sh
  api/serializers/__init__.py
  api/serializers/enrollment_test.py
  api/urls.py
  api/views/__init__.py
  api/views/enrollment_test.py
  django_webapps/settings_sample.py
  tests/baker_recipes.py
  tests/tests_api/test_enrollment_test.py
Labels: enhancement, database_models, API views

#26 Amend models in 4th iteration
  api/admin.py
  api/migrations/0001_initial.py
  api/migrations/0002_data_migration.py
  api/models/__init__.py
  api/models/choices/registration_telegram_bot_language.py
  api/models/constants.py
  api/models/erd.png
  api/models/erd_core.png
  api/models/groups.py
  api/models/non_teaching_help.py
  api/models/people.py
  api/serializers/__init__.py
  api/serializers/non_teaching_help.py
  api/serializers/teacher.py
  api/urls.py
  api/views/__init__.py
  api/views/non_teaching_help.py
  poetry.lock
  tests/conftest.py
  tests/tests_api/test_student.py
  tests/tests_api/test_teacher.py
  tests/tests_api/test_teacher_under_18.py
Labels: enhancement, database_models

#57 Public Students API
  Makefile
  api/migrations/0003_fake_data.py
  api/serializers/__init__.py
  api/serializers/age_range.py
  api/serializers/day_and_time_slot.py
  api/serializers/language_and_level.py
  api/serializers/student.py
  api/serializers/utc_timedelta.py
  api/urls.py
  api/views/__init__.py
  api/views/student.py
  tests/tests_api/test_student.py
Labels: enhancement, API views
