Repository samanthasgroup/django-webapps, pull requests merged in 2023-06, with the labels that each got.

#108 fix: prevent error screen for `PersonalInfo`, implement case-insensitive existence check in serializer
  api/admin.py
  api/models/people.py
  api/serializers/personal_info.py
  api/utils.py
Labels: bug, API views, admin site

#119 create API view to start a group
  api/migrations/0001_initial.py
  api/models/__init__.py
  api/models/choices/statuses.py
  api/models/erd.png
  api/models/groups.py
  api/models/people.py
  api/processors/__init__.py
  api/processors/base.py
  api/processors/group.py
  api/views/group.py
  tests/conftest.py
  tests/tests_api/test_group.py
Labels: enhancement, database_models, API views

#130 Reorganize modules with models; add `_former` m2m relationships between groups and people
  api/migrations/0001_initial.py
  api/migrations/0002_data_migration.py
  api/migrations/0003_fake_data.py
  api/models/__init__.py
  api/models/age_range.py
  api/models/auxil/__init__.py
  api/models/auxil/constants.py
  api/models/auxil/data_populator.py
  api/models/choices/log_event_type.py
  api/models/choices/status.py
  api/models/coordinator.py
  api/models/day_and_time_slot.py
  api/models/enrollment_test.py
  api/models/erd.png
  api/models/group.py
  api/models/language_and_level.py
  api/models/log_event.py
  api/models/non_teaching_help.py
  api/models/people.py
  api/models/personal_info.py
  api/models/shared_abstract/__init__.py
  api/models/shared_abstract/group_or_person.py
  api/models/shared_abstract/person.py
  api/models/shared_abstract/teacher_common.py
  api/models/student.py
  api/models/teacher.py
  api/models/teacher_under_18.py
  api/processors/base.py
  api/processors/group.py
  api/schema.py
  api/serializers/enrollment_test.py
  api/serializers/teacher/public.py
  tests/tests_api/test_age_range.py
  tests/tests_api/test_day_and_time_slot.py
  tests/tests_api/test_group.py
  tests/tests_api/test_student.py
  tests/tests_api/test_teacher.py
  tests/tests_api/test_teacher_under_18.py
Labels: enhancement, database_models, refactoring

#128 fix: add make command for recreating 1st migration on remote server
  Makefile
Labels: bug

#147 Provide an informative description of status codes for auto-generated API docs in check of existence of personal info
  api/schema.py
  api/views/personal_info.py
Labels: documentation, API views

#150 Return 406 when no chat id exists
  api/exceptions.py
  api/serializers/personal_info.py
  api/views/personal_info.py
  tests/tests_api/test_personal_info.py
Labels: API views
