Repository samanthasgroup/django-webapps, pull requests merged in 2023-10, with the labels that each got.

#284 add `additional_skills_comment` to `Coordinator`
  api/migrations/0001_initial.py
  api/models/coordinator.py
  api/models/erd.png
  api/models/erd_core.png
  erd.dot
Labels: enhancement, DB models

#285 feature(DB models): `project_status` "needs oral interview" for `Student`
  api/migrations/0001_initial.py
  api/models/choices/status/project.py
  api/models/erd.png
Labels: enhancement, DB models

#291 Add coordinator view set
  api/serializers/__init__.py
  api/serializers/coordinator.py
  api/urls.py
  api/views/__init__.py
  api/views/coordinator.py
  tests/tests_api/test_coordinator.py
Labels: API views

#280 Add available students view
  api/exceptions.py
  api/serializers/__init__.py
  api/serializers/student/dashboard.py
  api/views/student.py
  tests/tests_api/test_student.py
Labels: API views

#293 fix(`Coordinator`): change `on_delete` from `CASCADE` to `SET_NULL`
  api/migrations/0001_initial.py
  api/models/coordinator.py
Labels: bug, DB models

#300 Student after group finished
  .pre-commit-config.yaml
  api/migrations/0001_initial.py
  api/models/choices/status/project.py
  api/models/student.py
  api/processors/actions/__init__.py
  api/processors/actions/group/finish.py
  api/processors/actions/student/finished_and_left.py
  api/processors/actions/student/put_in_waiting_queue.py
  api/processors/student.py
  api/views/student.py
  erd.dot
  tests/tests_api/test_group.py
  tests/tests_api/test_student.py
Labels: enhancement, API views

#303 Add offer join group view
  api/processors/actions/__init__.py
  api/processors/actions/student/offer_join_group.py
  api/processors/student.py
  api/serializers/__init__.py
  api/serializers/student/dashboard.py
  api/views/student.py
  tests/tests_api/test_student.py
Labels: API views

#304 Add accepted offered group view and tests
  api/migrations/0001_initial.py
  api/models/choices/log_event_type.py
  api/processors/actions/__init__.py
  api/processors/actions/student/accepted_offered_group.py
  api/processors/auxil/log_event_creator.py
  api/processors/student.py
  api/serializers/__init__.py
  api/serializers/student/dashboard.py
  api/views/student.py
  erd.dot
  tests/tests_api/test_student.py
Labels: API views

#305 Added groups, former groups and logevents to CoordinatorAdmin
  api/admin.py
  api/admin/__init__.py
  api/admin/coordinator.py
  api/admin/personal_info.py
  api/admin/student.py
  api/models/choices/log_event_type.py
  api/models/group.py
  api/processors/auxil/log_event_creator.py
Labels: enhancement, admin site

#307 Add left project prematurely view for student and teacher
  api/processors/actions/__init__.py
  api/processors/actions/student/left_project_prematurely.py
  api/processors/actions/teacher/left_project_prematurely.py
  api/processors/student.py
  api/processors/teacher.py
  api/views/student.py
  api/views/teacher.py
  tests/tests_api/test_student.py
  tests/tests_api/test_teacher.py
Labels: API views

#322 Add view to confirm that student finished oral interview
  api/processors/actions/__init__.py
  api/processors/actions/student/completed_oral_interview.py
  api/processors/student.py
  api/serializers/__init__.py
  api/serializers/shared.py
  api/serializers/student/dashboard.py
  api/views/student.py
  api/views/teacher.py
  tests/tests_api/test_student.py
  tests/tests_api/test_teacher.py
Labels: API views

#329 Add log events on person creation
  api/processors/__init__.py
  api/processors/actions/__init__.py
  api/processors/actions/coordinator/__init__.py
  api/processors/actions/coordinator/create.py
  api/processors/actions/student/create.py
  api/processors/actions/teacher/create.py
  api/processors/coordinator.py
  api/processors/student.py
  api/processors/teacher.py
  api/serializers/student/internal.py
  api/serializers/teacher/internal.py
  api/views/coordinator.py
  api/views/student.py
  api/views/teacher.py
  tests/tests_api/test_coordinator.py
  tests/tests_api/test_student.py
  tests/tests_api/test_teacher.py
Labels: API views
