Repository samanthasgroup/django-webapps, pull requests merged in 2023-09, with the labels that each got.

#241 Feature/student transfer
  api/processors/__init__.py
  api/processors/actions/__init__.py
  api/processors/actions/student/__init__.py
  api/processors/actions/student/transfer.py
  api/processors/auxil/log_event_creator.py
  api/processors/student.py
  api/serializers/__init__.py
  api/serializers/student/dashboard.py
  api/views/student.py
  tests/tests_api/test_student.py
Labels: enhancement, API views

#254 Bug fix: coordinator email filter not being applied in the student with personal info view
  api/views/student.py
  tests/tests_api/test_student.py
Labels: bug, API views

#240 feat(AAGC): implement group building algorithm structure
  api/management/commands/create_groups.py
  api/models/auxil/constants.py
  api/processors/services/group_builder.py
Labels: enhancement, automation

#253 Teacher transfer from group to group
  .gitignore
  api/migrations/0001_initial.py
  api/models/choices/log_event_type.py
  api/models/erd.png
  api/processors/__init__.py
  api/processors/actions/__init__.py
  api/processors/actions/student/transfer.py
  api/processors/actions/teacher/__init__.py
  api/processors/actions/teacher/transfer.py
  api/processors/teacher.py
  api/serializers/__init__.py
  api/serializers/shared.py
  api/serializers/student/dashboard.py
  api/serializers/teacher/dashboard.py
  api/views/teacher.py
  tests/tests_api/test_teacher.py
Labels: API views

#258 #237: show students who are awaiting coordinator's decision
  api/migrations/0001_initial.py
  api/models/choices/status/project.py
  api/models/erd.png
  api/models/erd_core.png
  api/processors/actions/group/finish.py
  tests/fixtures/group.py
  tests/tests_api/test_group.py
Labels: enhancement, API views

#256 Add some test coverage for the `teacher/student_with_personal_info` view
  tests/tests_api/test_student.py
  tests/tests_api/test_teacher.py
Labels: testing

#264 Student missed class view
  api/processors/actions/__init__.py
  api/processors/actions/student/missed_class.py
  api/processors/student.py
  api/serializers/__init__.py
  api/serializers/student/dashboard.py
  api/views/student.py
  tests/tests_api/test_student.py
Labels: API views

#273 Add went on leave view for teacher and student
  api/models/choices/log_event_type.py
  api/processors/actions/__init__.py
  api/processors/actions/student/went_on_leave.py
  api/processors/actions/teacher/went_on_leave.py
  api/processors/student.py
  api/processors/teacher.py
  api/views/student.py
  api/views/teacher.py
  tests/tests_api/test_student.py
  tests/tests_api/test_teacher.py
Labels: enhancement, API views

#277 Student and teacher returned from leave view
  api/migrations/0001_initial.py
  api/models/group.py
  api/models/student.py
  api/models/teacher.py
  api/processors/actions/__init__.py
  api/processors/actions/student/returned_from_leave.py
  api/processors/actions/teacher/returned_from_leave.py
  api/processors/student.py
  api/processors/teacher.py
  api/views/mixins/__init__.py
  api/views/mixins/student.py
  api/views/mixins/teacher.py
  api/views/student.py
  api/views/teacher.py
  erd.dot
  tests/tests_api/test_student.py
  tests/tests_api/test_teacher.py
Labels: API views
