Repository samanthasgroup/django-webapps, pull requests merged in 2023-05, with the labels that each got.

#59 fix(`Group`): `availability_slots_for_auto_matching`, tweak Makefile
  Makefile
  api/migrations/0001_initial.py
  api/migrations/0003_fake_data.py
  api/models/groups.py
Labels: bug, database_models

#65 Public Group View
  api/serializers/__init__.py
  api/serializers/coordinator.py
  api/serializers/group.py
  api/serializers/teacher.py
  api/urls.py
  api/views/__init__.py
  api/views/group.py
  tests/tests_api/test_group.py
Labels: enhancement, API views

#66 populate enrollment test
  api/migrations/0002_data_migration.py
  api/migrations/data_migration_sources/enrollment_tests.yaml
Labels: enhancement, database_models

#72 Makefile: keep auth data when re-applying migrations
  Makefile
Labels: enhancement

#75 fix(`PersonalInfo`): Capitalize `first_name` and `last_name`, lowercase `email`
  api/models/people.py
Labels: bug, database_models

#73 add simple view (with API docs) to check existence of Telegram chat ID
  api/serializers/__init__.py
  api/serializers/personal_info.py
  api/views/personal_info.py
  tests/tests_api/test_personal_info.py
Labels: API views

#81 All teachers without personal info view
  api/migrations/0001_initial.py
  api/migrations/0002_data_migration.py
  api/models/choices/non_teaching_help_type.py
  api/models/constants.py
  api/models/erd.png
  api/models/erd_core.png
  api/models/non_teaching_help.py
  api/schema.py
  api/serializers/__init__.py
  api/serializers/non_teaching_help.py
  api/serializers/teacher.py
  api/urls.py
  api/views/__init__.py
  api/views/teacher.py
Labels: enhancement, API views

#82 suppress `DatabaseError` correctly when generating fake data
  api/migrations/0003_fake_data.py
Labels: bug, database_models

#88 Return result of enrollment test (level) without writing the answers to database
  api/migrations/0002_data_migration.py
  api/models/constants.py
  api/models/enrollment_tests.py
  api/serializers/enrollment_test.py
  api/serializers/personal_info.py
  api/views/enrollment_test.py
  tests/baker_recipes.py
  tests/tests_api/test_enrollment_test.py
Labels: enhancement, database_models, API views

#90 Allow passing fewer than 35 or 25 enrollment test answers
  api/models/enrollment_tests.py
  api/serializers/enrollment_test.py
  api/views/enrollment_test.py
  tests/tests_api/test_enrollment_test.py
Labels: enhancement, API views

#91 `TeacherUnder18`: include `status` in serializer, add fields to model
  api/migrations/0001_initial.py
  api/models/erd.png
  api/models/erd_core.png
  api/models/people.py
  api/serializers/teacher.py
  api/serializers/teacher_under_18.py
  tests/tests_api/test_teacher_under_18.py
Labels: database_models, API views

#97 put double quotes around "on", otherwise it turns up as "True" in DB
  api/migrations/data_migration_sources/enrollment_tests.yaml
Labels: bug
