Repository samanthasgroup/django-webapps, pull requests merged in 2023-08, with the labels that each got.

#208 Split statuses, amend models and views (BREAKING CHANGE)
  api/migrations/0001_initial.py
  api/migrations/0003_fake_data.py
  api/models/auxil/status_setter.py
  api/models/choices/status.py
  api/models/choices/status/__init__.py
  api/models/choices/status/project.py
  api/models/choices/status/situational.py
  api/models/coordinator.py
  api/models/erd.png
  api/models/erd_core.png
  api/models/group.py
  api/models/shared_abstract/person.py
  api/models/student.py
  api/models/teacher.py
  api/models/teacher_under_18.py
  api/processors/actions/group/abort.py
  api/processors/actions/group/confirm_ready_to_start.py
  api/processors/actions/group/create.py
  api/processors/actions/group/start.py
  api/serializers/group/dashboard.py
  api/serializers/group/internal.py
  api/serializers/student/dashboard.py
  api/serializers/teacher/dashboard.py
  tests/fixtures/group.py
  tests/tests_api/test_group.py
  tests/tests_api/test_student.py
  tests/tests_api/test_teacher.py
  tests/tests_api/test_teacher_under_18.py
Labels: enhancement, DB models, API views, breaking

#211 Fix: status name ("no_group_yet")
  api/migrations/0001_initial.py
  api/models/choices/status/project.py
Labels: bug, DB models, API views, breaking

#212 Fix: `status` -> `project_status` in `Person.__str__()`
  api/models/shared_abstract/person.py
Labels: bug, DB models

#214 fix: make field telegram chat id a `BigIntegerField` instead of `IntegerField`
  api/migrations/0001_initial.py
  api/models/erd.png
  api/models/erd_core.png
  api/models/personal_info.py
Labels: bug, DB models

#200 Tests refactoring
  tests/conftest.py
  tests/fixtures/common.py
  tests/fixtures/day_and_time_slot.py
  tests/fixtures/personal_info.py
  tests/tests_api/asserts.py
  tests/tests_api/test_age_range.py
  tests/tests_api/test_group.py
  tests/tests_api/test_student.py
  tests/tests_api/test_teacher.py
Labels: testing

#202 Filter active teachers and coordinators in status_setter
  api/models/auxil/status_setter.py
  api/models/choices/status/project.py
  api/models/coordinator.py
  api/models/teacher.py
  api/processors/actions/group/abort.py
  api/processors/actions/group/confirm_ready_to_start.py
  api/processors/actions/group/create.py
  api/processors/actions/group/start.py
Labels: enhancement, API views

#222 Add email field to personal info filter to identify coordinator from dashboard
  api/filters/personal_info.py
  api/serializers/personal_info.py
  api/urls.py
  api/views/personal_info.py
  tests/fixtures/personal_info.py
  tests/tests_api/test_personal_info.py
Labels: API views

#221 API view: Discard a tentative group that was not confirmed, adjust log event types
  api/migrations/0001_initial.py
  api/models/auxil/constants.py
  api/models/choices/log_event_type.py
  api/models/erd.png
  api/models/erd_core.png
  api/models/group.py
  api/processors/actions/__init__.py
  api/processors/actions/group/discard.py
  api/processors/auxil/log_event_creator.py
  api/processors/group.py
  api/serializers/__init__.py
  api/serializers/group/internal.py
  api/views/group.py
  api/views/mixins/__init__.py
  api/views/mixins/group.py
  tests/fixtures/group.py
  tests/tests_api/test_group.py
Labels: DB models, API views
