Repository samanthasgroup/django-webapps, pull requests merged in 2023-07, with the labels that each got.

#157 GroupProcessor split
  api/models/auxil/status_setter.py
  api/processors/__init__.py
  api/processors/actions/__init__.py
  api/processors/actions/group/__init__.py
  api/processors/actions/group/abort.py
  api/processors/actions/group/start.py
  api/processors/auxil/__init__.py
  api/processors/auxil/log_event_creator.py
  api/processors/base.py
  api/processors/group.py
  api/views/group.py
Labels: enhancement, API views

#156 Add `abort group` view
  api/models/auxil/status_setter.py
  api/models/choices/log_event_type.py
  api/models/teacher.py
  api/processors/__init__.py
  api/processors/actions/__init__.py
  api/processors/actions/group/__init__.py
  api/processors/actions/group/abort.py
  api/processors/actions/group/start.py
  api/processors/auxil/__init__.py
  api/processors/auxil/log_event_creator.py
  api/processors/base.py
  api/processors/group.py
  api/views/group.py
  tests/tests_api/test_group.py
Labels: enhancement, API views

#163 Fix: comparison of timestamp in test
  tests/tests_api/test_group.py
Labels: bug, code quality

#174 Group creation
  api/migrations/0001_initial.py
  api/models/group.py
  api/processors/actions/__init__.py
  api/processors/actions/group/create.py
  api/processors/auxil/log_event_creator.py
  api/processors/group.py
  api/serializers/__init__.py
  api/serializers/group/internal.py
  api/views/group.py
  tests/conftest.py
  tests/fixtures/group.py
  tests/tests_api/test_group.py
Labels: API views

#179 Add parameter `registration_telegram_bot_chat_id` to Swagger docs
  api/views/personal_info.py
Labels: bug, documentation, API views

#181 feat(API views): look up bot chat ID, return Chatwoot conversation ID
  api/filters/__init__.py
  api/filters/personal_info.py
  api/views/personal_info.py
  tests/tests_api/test_personal_info.py
Labels: enhancement, API views

#191 API view: Confirm that `Group` is ready to start
  api/processors/actions/group/abort.py
  api/processors/actions/group/confirm_ready_to_start.py
  api/processors/actions/group/create.py
  api/processors/auxil/log_event_creator.py
  api/processors/group.py
  api/views/group.py
  tests/tests_api/test_group.py
Labels: enhancement, API views

#194 Add ID to `languages_and_levels` fields for dashboard `teachers` and `students` views
  api/serializers/language_and_level.py
  tests/tests_api/test_group.py
  tests/tests_api/test_student.py
Labels: API views
