Repository samanthasgroup/django-webapps, pull requests merged in 2024-08, with the labels that each got.

#558 Return legacy ID values
  api/serializers/group/dashboard.py
  api/serializers/student/dashboard.py
  api/serializers/teacher/dashboard.py
  tests/tests_api/test_group.py
  tests/tests_api/test_student.py
  tests/tests_api/test_teacher.py
Labels: API views

#548 Coordinators' table: add sorting by other columns (make cells in header row clickable)
  api/admin/coordinator.py
Labels: admin site

#554 feat: add role_comment field to coordinator
  api/admin/coordinator.py
  api/migrations/0001_initial.py
  api/models/coordinator.py
  api/models/erd.png
  api/models/erd_core.png
Labels: DB models, API views, admin site
